<mat-toolbar>
    <div class="example-spacer">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
        <mat-icon>list</mat-icon>
      </button>
      <span class="pharmacie">TopicModeling</span>
    </div>
   </mat-toolbar>