<h1 mat-dialog-title> <p class="title">Veuillez ajouter une nouvelle catégorie</p>
</h1>
<div mat-dialog-content>

    <form [formGroup]="form">

        <mat-form-field>
            <i class="material-icons" matSuffix>
                text_format
            </i>
            <input matInput placeholder="Entrer un nom" formControlName="nameCategory" required>
            <mat-error *ngIf="form.get('nameCategory').hasError('required')">Champs obligatoire</mat-error>
            <mat-error *ngIf="form.get('nameCategory').hasError('maxlength')">15 caractères maximum</mat-error>
            <mat-error *ngIf="form.get('nameCategory').hasError('minlength')">5 caractères minimum</mat-error>

        </mat-form-field>

    </form>

</div>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button [mat-dialog-close]="this.form.value" [disabled]="form.invalid" cdkFocusInitial>Ajouter</button>
</mat-dialog-actions>