<h1 mat-dialog-title> <p class="title">Confirmer la supresion - <strong>{{this.data.item.name}}</strong></p>
</h1>
<div mat-dialog-content>
    <p> Souhaitez-vous vraiment supprimer cette catégorie ?</p>
</div>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Annuler</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirmer</button>
</mat-dialog-actions>