<nav>
  <app-header> </app-header>
</nav>

<div class="container">
  <div>
    <div class="row col-md-12 text-center">
      <div class="col-md-12 text-center">
        <button mat-fab color="primary" (click)="openDialog()">
          <mat-icon matTooltip="Ajouter une catégorie" matTooltipPosition="above">
            add
          </mat-icon>
        </button>
      </div>

    </div>

  </div>
  <div>
    <div cdkDropListGroup class="d-flex flex-row">
      <div class="example-container p-2" *ngFor="let column of listColums; let index=index">
        <div>
          <h2>{{column.name}}</h2>
          <div class="buttons">
            <button (click)="addElementToCategory(index)" class="addElementButton" matTooltip="Ajouter un element" matTooltipPosition="above"
              mat-mini-fab aria-label="Example icon button with a home icon" color="primary">
              <mat-icon>add</mat-icon>
            </button>

            <button (click)="deleteCategory(column, index)" matTooltip="Supprimer cette catégorie"
            matTooltipPosition="above" mat-mini-fab color="warn">
              <mat-icon >delete</mat-icon>
            </button>
          </div>




        </div>
        <div cdkDropList [cdkDropListData]="column.value" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box d-flex justify-content-center" *ngFor="let item of column.value; let i=index" cdkDrag>
            {{item}}
            <mat-icon (click)="deleteElementCategory(index,i)" class="red-icon right">delete</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>